h1, h2, h3, .footer {
  font-family: "Holtwood One SC";
  color: #4d4d4d; }

.heading {
  margin: 20px auto; }
  .heading h1 {
    font-size: 250%; }
  .heading h2 {
    font-size: 120%; }
  .heading ul {
    list-style-type: circle; }

@media only screen and (max-width: 48em) {
  .heading {
    margin-top: 5px; }
    .heading h1, .heading h2, .heading .pebble-img {
      text-align: center; }
    .heading .pebble-img {
      margin: 10px auto; } }
@media only screen and (min-width: 48em) {
  .heading h1 {
    margin-top: 40px; }
  .heading .panel {
    border: none;
    margin-bottom: 0;
    padding: 0;
    background: none; } }
.social > div, .social > iframe {
  display: block;
  margin-bottom: 10px; }

.donate form {
  float: left; }

.footer {
  text-align: center; }

.error {
  font-weight: bold;
  color: red; }

input.red, textarea.red {
  background-color: #ffcdcd; }
