$darkgrey: #8e8e8e;
$lightgrey: #c8c8c8;
$blue:blue;

body { 
	margin: 0; 
	padding: 0;
	font-family: "Verdana";
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
}
h1 {
	margin: 0;
	padding: 10px 5px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	color: white;
	display: block;
	text-align: center;
}
h2 {
	font-size: 0.9em;
	margin: 20px 10px 0 10px;
	padding-bottom: 5px;
	border-bottom: 2px solid $darkgrey;
}
h3 {
	margin: 5px 0;
	font-size: 0.8em;
}
p {
	font-size: 0.8em;
	margin: 1em 10px;
}
ul.form {
	margin:0;
	padding:0;
	list-style:none;
	li {
		margin:0 10px;
		padding: 10px 0;
		border-bottom: 1px solid $darkgrey;
		p {
			display:inline-block;
			margin:0;
			line-height: 2em;
		}
		input {
			float:right;
			width:116px;
			height:25px;
		}
		a {
			display:inline-block;
			float:right;
			width: 120px;
			height: 30px;
			position: relative;
			font-weight: bold;
			text-decoration: none;
			background-color: $lightgrey;
			span {
				display:block;
				position:absolute;
				top: 0;
				width:60px;
				height:16px;
				padding:7px 0;
				background-color: $darkgrey;
				color:black;
				text-align: center;
				font-size: 0.8em;
			}
			&.white span {
				background-color: white;
				color: black;
				right: 0;
			}
			&.black span { 
				background-color: black;
				color: white;
			}
			&.on span {
				background-color: $blue;
				color: white;
				right: 0;
			}
		}
	}
	div.info {
		font-size:0.5em;
		margin-top:15px;
	}
}
ul.updates {
	list-style: none;
	margin:0;
	padding:0;
	> li {
		margin: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid $darkgrey;
		li {
			font-size: 0.8em;
		}
	}
  h3 > span {
    color: red;
  }
}
a#save {
	display:block;
	width:60px;
	height:16px;
	padding:7px 0;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	margin: 10px;
	background-color: $blue;
	color: white;
}
p#versioninfo {
  display: none;
  font-size:0.6em;
}